<ion-view view-title="Login" name="login-view">
  <ion-pane id="article" ng-controller="ArticleController">
    <ion-header-bar align-title="center" class="bar bar-header bar-assertive">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="backHome()"></button>
      <div class="h1 title">VCU News</div>
      <button class="button button-icon icon ion-share"></button>
    </ion-header-bar>

<ion-content class="padding">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
        </label>
    </div>
    <button class="button button-block button-assertive" ng-click="login()">Login</button>
</ion-content>
</ion-pane>
</ion-view>
